<!DOCTYPE html>
<body>
  <div class="padded">
    <h3 class="darkblue"><strong>O puževima</strong></h3>
    <p>Čest stanovnik naših šuma, livada i ostalih prirodnih područja, ali i vrtova, vinograda i naselja jest puž vinogradar (Helix pomatia).</p>
    <p>To je jedan od najvećih kopnenih puževa koji je nerijetko i na jelovniku nekih restorana. On je samo jedan od predstavnika puževa plućnjaka, uglavnom terestričkih vrsta (imamo i puževe prednjoškržnjake i stražnjoškržnjake koji uglavnom žive u vodi).</p>
    <p>Lako ga prepoznajemo po velikoj kućici krem bijele ili žućkastosmeđe boje. Po kućici su često i blago ljubičaste linije. Ima velik otvor iz kojeg viri prednji dio tijela, a viši je nego širi. Od ulaza se kućica spiralno zavija, u 4 – 6 konveksnih zavoja. Prvi, kraj otvora, najveći je, a zadnji najmanji i završava koničnim vrhom. Kućica pužu omogućuje zaštitu svojim debelim, čvrstim zidovima od kalcijeva karbonata. Njome je zaštićen ne samo od grabežljivaca nego i od isušivanja. Pri opasnosti, puž se može povući u nju.</p>
  </div>
</body>
