<body>
  <div class="hidd" id="bigImag">
    <a role="button" (click)="imgnext()">
      <img class="main-img" src="" id="enlarged" />
    </a>
  </div>
  <div class="row hidd" id="arrows">
    <div id="leftarrow" class="col-sm-6 middle">
      <a role="button" (click)="imgprev()">
        <span class='glyphicon glyphicon-chevron-left'></span>
      </a>
    </div>
    <div id="rightarrow" class="col-sm-6 middle">
      <a role="button" (click)="imgnext()">
        <span class='glyphicon glyphicon-chevron-right'></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(0)">
        <img class="pic" src="{{thumb1}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(1)">
        <img class="pic" src="{{thumb2}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(2)">
        <img class="pic" src="{{thumb3}}" alt="" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(3)">
        <img class="pic" src="{{thumb4}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(4)">
        <img class="pic" src="{{thumb5}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(5)">
        <img class="pic" src="{{thumb6}}" alt="" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(6)">
        <img class="pic" src="{{thumb7}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(7)">
        <img class="pic" src="{{thumb8}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(8)">
        <img class="pic" src="{{thumb9}}" alt="" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(9)">
        <img class="pic" src="{{thumb10}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(10)">
        <img class="pic" src="{{thumb11}}" alt="" />
      </a>
    </div>
    <div class="col-sm-4">
      <a role="button" (click)="imgswap(11)">
        <img class="pic" src="{{thumb12}}" alt="" />
      </a>
    </div>
  </div>
</body>
