body {
  max-width: 100vw;
  background-color: #EEE;
}

div {
  max-width: 100vw;
}

a {
  color: #04162c;
}

.middle {
  text-align: center;
}

.hidd {
  display: none;
}

.pic {
  width: calc(100vw - 2em);
  vertical-align: middle;
  padding: 1em 0em 1em 0em;
  border-radius: 15px;
}

.main-img {
  visibility: hidden;
  border-radius: 20px;
}

.row {
  padding: 0em 1em 0em 1em;
}

@media only screen and (min-width: 768px) {
  .pic {
    width: calc((100vw - 250px) / 3 - 2em - 4px);
    vertical-align: middle;
    border-radius: 15px;
  }

  .main-img {
    padding: 1em 1em 0em 1em;
    width: calc(100vw - 250px - 2em);
    visibility: visible;
    border-radius: 20px;
  }

  .row {
    width: calc(100vw - 256px);
    padding: 1em 1em 1em 1em;
  }
}

@media only screen and (min-width: 1000px) {
  .pic {
    width: calc((100vw - 250px) / 3 - 3em);
    vertical-align: middle;
    border-radius: 15px;
  }

  .main-img {
    padding: 1em 2em 1em 2em;
    width: calc(100vw - 250px - 2em);
    visibility: visible;
    border-radius: 30px;
  }

  .row {
    width: calc(100vw - 256px);
    padding: 1em 2em 1em 2em;
  }
}

@media only screen and (min-width: 1540px) {
  .pic {
    vertical-align: middle;
    max-width: 100%;
    border-radius: 15px;
  }

  .main-img {
    padding: 2em 4em 2em 4em;
    width: calc(100vw - 250px - 2em);
    max-width: 100%;
    visibility: visible;
    border-radius: 50px;
  }

  .row {
    width: calc(100vw - 250px);
    padding: 2em 4em 2em 4em;
  }
}
