<body>
  <div>
    <picture>
      <source media="(min-width: 1540px)" srcset="{{headingLarge}}" class="image-header" />
      <source media="(min-width: 767px)" srcset="{{headingMedium}}" class="image-header" />
      <img src="{{headingSmall}}" alt="Polje" class="image-header" />
    </picture>
  </div>
  <br />
  <div class="padded">
    <h3 class="darkblue"><strong>O OPG-u</strong></h3>
    <p>
      OPG Dario Almaši je počeo s radom 2016. godine. Bavi se uzgojem puževa vinogradara (Helix pomatia). Farma se prostire na 2500m2 na otvorenom. Puževi se hrane isključivo vlastito uzgojenom hranom, bez korištenja pesticida.
      <br />2019. godine ovaj projekt je sufinanciran sredstvima Europske Unije iz europskog poljoprivrednog fonda za ruralni razvoj.
    </p>
  </div>
</body>
